
<div class="page-title page-title-gl">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h1>My grocery List</h1>
</div>

  <h2 class="h2-gl">Staples</h2>

  <h3>Almost empty</h3>

  <div class="groc-list-around">
    <% @ms_almost_empty.each do |my_staple| %>
      <div class="groc-list-item">
      <div class="groc-list-item-left">
        <input type="checkbox">
        <p><%= my_staple.staple.name %></p>       
      </div>
      <%= form_for(my_staple) do |f| %>
        <%= f.hidden_field :quantity_id, value: '' %>
        <%= button_tag( :class => "button-update-cross") do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>

  <h3>Empty</h3>

  <div class="groc-list-around">
    <% @ms_empty.each do |my_staple| %>
      <div class="groc-list-item">
        <div class="groc-list-item-left">
          <input type="checkbox">
          <p><%= my_staple.staple.name %></p>
        </div>
        <%= form_for(my_staple) do |f| %>
          <%= f.hidden_field :quantity_id, value: '' %>
          <%= button_tag( :class => "button-update-cross") do %>
            <i class="fas fa-times"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2 class="h2-gl">Non-Staples</h2>

  <div class="groc-list-around">
    <% @non_staples.each do |non_staple| %>
      <div class="groc-list-item">
        <div class="groc-list-item-left">
          <input type="checkbox">
          <p><%= non_staple.name %></p>
        </div>
        <div class="delete-cross-btn">
          <%= link_to non_staple_path(non_staple), method: :delete do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      </div>     
    <% end %>
  </div>

  <div class="around-add-form">
    <%= form_for [@grocery_list, @non_staple] do |f| %>
      <div class="single-line-form">
        <%= f.text_field :name, class: "form-text-field" %>
        <%= button_tag( :class => "button-add-plus") do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>     
      </div> 
    <% end %>
  </div>

  <%= link_to "MY STAPLES", grocery_list_my_staples_path(@grocery_list), class: "main-button" %>
