<div class="page-title page-title-ms">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h1>My staples</h1>
</div>

  <% @my_staples.group_by { |m_s| m_s.staple.category }.each do |category_arr| %>
    <h2 class="h2-ms"><%= category_arr[0].name %></h2>
    
    <% category_arr[1].each do |my_staple| %>
      <div class="my-staples-list">
        <div data-quantity="<%=my_staple.quantity.value%>" class="my-staples-list-item item">
          <p><%= my_staple.staple.name %></p>

          <%= link_to my_staple_path(my_staple), method: :delete do %>
            <i class="fas fa-times"></i>
          <% end %>

          <a data-toggle="collapse" href="#ms<%=my_staple.id%>" role="button" aria-expanded="false"><i class="fas fa-caret-down"></i></a> 
        </div>
        <div class="collapse" id="ms<%=my_staple.id%>">
          <div>
            <%= form_for(my_staple) do |f| %>
              <%= f.collection_select :quantity_id, Quantity.all, :id, :value %>
              <%= f.submit %>
            <% end %>            
          </div>
        </div>
      </div>     
    <% end %>
  <% end %>


  <h3>Add a staple to your list</h3>
  <%= form_for [@grocery_list, @my_staple] do |f| %>
    <%= f.label :staple %>
    <%= f.collection_select :staple_id, Staple.all, :id, :name %>
    <%= f.label :quantity %>
    <%= f.collection_select :quantity_id, Quantity.all, :id, :value %>
    <%= f.submit %>
  <% end %>

  <p><%= link_to "Add to the library", new_staple_path, class: "small-button purple-btn" %></p>

  <%= link_to "MY GROCERY LIST", grocery_list_path(@grocery_list),  class: "small-button green-btn" %>
